  /*This is a mobile-first design. default will target mobile devices.
Media queries will then target tablets and desktops*/


/*-----prevents iPhone auto resizing in landscape mode -----*/

html {
  -webkit-text-size-adjust: none;
  /*-ms-text-size-adjust: none;*/
}

/*apply natural box layout, solves problem with some browser padding and width*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
  color: rgb(28, 27, 27);
  font-family: 'Padauk', sans-serif;
}

h1 {
  font-size: 1.2em;
  font-weight: bold;
  /*text-align: center;*/
}

.header-wrapper {
  width: 85%;
  margin: 1em auto;
}

.center-text {
  text-align: center;
}

.main-heading {
  padding: .35em;
  font-size: 1.75em;
  font-family: 'Boogaloo', cursive;
}

.secondary-heading {
  font-family: 'Open Sans', sans-serif;
}

.site-logo {
  border-radius: 50%;
  display: block;
  margin: .50em auto;
  -webkit-box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);
  -moz-box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);
  box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);
}

.nav-wrapper {
  width: 92.2%;
  margin: auto;
   /*border: 1px solid blue;*/
}

.hamburger-wrapper {
  cursor: pointer;
  margin: 2.5em 0 .85em 0;
}

.primary-nav {
  display: none;
  margin-bottom: .85em;
}

.nav-wrapper li {
  width: 100%;
}

.nav-wrapper a {
  padding: 1em 0;
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #75a5b0;
}

.fa-bars {
  color: #75a5b0;
  color: #42A5F5;
  color: #64B5F6;
color: #90CAF9;
color: #42A5F5;
}


/*CONTENT-------------*/


/*style for contents*/

.content-wrapper {
 /*border: 1px solid blue;*/
 /*display: none;*/
  overflow: auto;
  width: 93%;
  margin: auto;
  font-size: 1em;
  line-height: 1.5;
}


/*COLUMNS-------------*/


/*PUPPY GAME START*/
.game-wrapper {
  display: none;
   /*border: 1px solid blue;*/
   margin: auto;
}



.play-game-btn {
  border: none;
  /*border: 1px solid red;*/
  border-radius: 2px;
  outline: none;
  background-color: #4285f4;
  color: #fff;
  /*text-align:center;*/
  padding: .85em 1.85em;
  transition: 300ms ease-in-out;
  /*box-shadow: 0px 4px 20px #ccc;*/
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.225);
  /*margin: .75em;*/
  display: block;
  margin: 2em auto;
}

.game-header {
  text-align: center;
}
.hidden {
  display: none;
}

.card {
   /*border: 1px solid blue;*/
   /*width: 230px;
   height: 200px;*/
   float: left;
}

.column-1 {
  /*display: none;*/
  width: 33.333330%;
  float: left;
   /*border: 1px solid blue;*/
    padding: .70em;
}

.column-1 img {
  width: 100%;
  border-radius: 3px;


  -webkit-box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);
  -moz-box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);
  box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);

box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}


.column-2 {
  width: 50%;
  padding: 2px;
  float: left;
}

/*prevent imgs from overflowing out of container div*/

.column-2 img {
  width: 100%;
  border-radius: 3px;
  display: block;
}

.footer-wrapper {
  background-color: #d4d4b6;
  background-color: #BBDEFB;

  clear: both;
  padding: 1em;
  margin-top: .85em;
}

.footer-wrapper a {
  color: #1976D2;
}



/*TABLET rule kicks in when @ 641 and above*/

@media only screen and (min-width: 641px) {
  .hamburger-wrapper {
    display: none;
  }

  .nav-wrapper {
    width: 92.2%;
    margin: auto;
  }

  .nav-wrapper ul {
    /*border: 1px solid red;*/
    text-align: center;
  }
    .nav-wrapper li {
      display: inline;
    }


  .nav-wrapper a {
    display: inline;
    padding: 1em 1em;
    border: 1px solid gray;
    font-size: 1.1em;
    /*border-bottom: 1px solid #75a5b0;*/
  }

  .primary-nav {
    margin: 3em;
    display: block!important;
  }

  .column-2 {
    /*width: 33.33333333333334%;*/
    /*width: 20%;*/
  }
  /*CONTENT-------------*/
  /*COLUMNS-------------*/
  /*.column-6 {
    width: 50%;
    float: left;
  }*/

} /*end of tablets*/


  /*or try breakpoint at 1141px */
  /*DESKTOP*/
  @media only screen and (min-width: 1140px) {
    header, nav, .row, footer {
      max-width: 900px;
      margin: 0 auto;
       border: 3px solid red;

    }
    .nav-wrapper a {
      transition: background .3s linear;
    }
    .nav-wrapper a:hover {
      background-color: #75a5b0;
    }
  }
  /* ----- OTHER STUFF ----*/
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }



  /*background: rgb(255,255,255);
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(161,206,230,1) 103%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#abd1ea',GradientType=1 );*/
