/*This is a mobile-first design. default will target mobile devices.
Media queries will then target tablets and desktops*/

/*-----prevents iPhone auto resizing in landscape mode -----*/
html {
  -webkit-text-size-adjust: none;
  /*-ms-text-size-adjust: none;*/
}

/*apply natural box layout, solves problem with some browser padding and width*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.nav-wrapper {
  background-color: tomato;
  /*text-align: center;*/
}

.nav-wrapper {
   border: 3px solid yellow;

}

.nav-wrapper ul {
  padding: 1em 0;
}

.nav-wrapper li {
    margin: 0 2%;
    width: 46%;
    float: left;
}

.nav-wrapper a {
  /*border: 1px solid green;*/
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: red;
  margin: .2em 0;
  padding: .6em 0;
  border-radius: .6em;
  box-shadow: 1px 1px 3px #000;
}


nav ul li.active a {
  background-color: green;
}

/*rule kicks in when @ 641 and above*/
/*TABLET*/
@media only screen and (min-width: 641px) {

  p {
    color: green;
  }


}




/*or try breakpoint at 1141px */
/*DESKTOP*/
@media only screen and (min-width: 1140px) {
  p {
    color: silver;
  }


}


/* ----- OTHER STUFF ----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
