/*This is a mobile-first design. default will target mobile devices.
Media queries will then target tablets and desktops*/


/*-----prevents iPhone auto resizing in landscape mode -----*/

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100%;
  margin: 0;
}


/*apply natural box layout, solves problem with some browser padding and width*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
  color: rgb(28, 27, 27);
  font-family: 'Padauk', sans-serif;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 1.2em;
  font-weight: bold;
}

.header-wrapper {
  width: 85%;
  margin: 1em auto;
}

.center-text {
  text-align: center;
}

.main-heading {
  padding: .35em;
  font-size: 1.75em;
  font-family: 'Boogaloo', cursive;
}

.secondary-heading {
  font-family: 'Open Sans', sans-serif;
}

.site-logo {
  border-radius: 50%;
  width: 25%;
  display: block;
  margin: .50em auto;
  -webkit-box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);
  -moz-box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);
  box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);
}

.nav-wrapper {
  /*width: 92.2%;*/
  margin: auto;
  margin-top: 0;
}

.hamburger-wrapper {
  cursor: pointer;
  margin: 1em 0 0 10px;
}

.primary-nav {
  background-color: white;
  opacity: 1;
  display: none;
  margin-bottom: .85em;
  position: absolute;
  height: 2000px;
  width: 700px;
  width: 100%;
  margin-left: 10px;
}

.nav-wrapper a {
  padding: 1em 0;
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #75a5b0;
}

.fa-bars {
  color: #42A5F5;
}


/*CONTENT-------------*/

.content-wrapper {
  /*display: none;*/
  overflow: auto;
  width: 93%;
  /*height: 100%;*/
  margin: 1em auto;
  font-size: 1em;
  line-height: 1.5;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */
}

.modal-header {
  background-color: #BBDEFB;
  overflow: auto;
  width: 100%;
  margin-bottom: 1.5em;
}

.modal-content {
  background-color: #fefefe;
  margin: 25% auto;
  border: 1px solid #888;
  border-radius: 3px;
  width: 70%;
}

.modal-content p {
  font-size: 1.5em;
}

.modal-exit {
  color: #EF5350;
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin-right: 8px;
}

.modal-exit:hover {
  color: #C62828;
  cursor: pointer;
}

.modal p {
  text-align: center;
  clear: both;
}

.modal-controller {
  text-align: center;
}

.smile-face {
  text-align: center;
  margin-bottom: 1.5em;
}

.fa-smile-o {
  color: #FFC400;
}


/*COLUMNS-------------*/

.row {
  margin-bottom: 1.5em;
}


/*PUPPY GAME START*/

.game-wrapper {
  display: none;
  margin: auto;
}

.main-btn-style {
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: #4285f4;
  color: #f2f2f2;
  padding: .85em 1.85em;
  /*transition: 300ms ease-in-out;*/
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.225);
  margin-bottom: 1.5em;
}

.main-btn-style:hover {
  background-color: #1565C0;
}

.play-game-btn {
  display: block;
  margin: 0 auto 1.5em auto;
}

.game-header {
  text-align: center;
  margin-bottom: 1em;
}

.directions {
  margin-bottom: 1.5em;
}

.card {
  float: left;
}

.column-1 {
  width: 33.333330%;
  float: left;
  padding: .70em;
}

.column-1 img {
  width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);
  -moz-box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);
  box-shadow: 3px 3px 6px 0 rgba(89, 89, 89, 0.6);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.column-2 {
  width: 33.33333333%;
  padding: 2px;
  float: left;
}

/*prevent imgs from overflowing out of container div*/

.column-2 img {
  width: 100%;
  border-radius: 3px;
  display: block;
}

.footer-wrapper {
  background-color: #E3F2FD;
  clear: both;
  padding: 1em;

  height: 50px;
}

.push {
  height: 50px;
}

.footer-wrapper a {
  color: #1976D2;
}


/*TABLET rule kicks in when @ 641 and above*/

@media only screen and (min-width: 641px) {
  .hamburger-wrapper {
    display: none;
  }
  .nav-wrapper {
    margin: auto;
  }
  .nav-wrapper li {
    display: inline;
    /*border: 1px solid green;*/
  }
  .nav-wrapper a {
    border-bottom: none;
    display: inline;
    padding: 1em .50em;
    /*border: 1px solid red;*/
    font-size: 1.1em;
  }
  .primary-nav {
    /*border: 1px solid purple;*/
    background: #90CAF9;
    padding-top: 1.3em;
    margin: 0; /*Reset margins due to mobile*/
    margin-bottom: 1em;
    display: block!important;
    height: 3.5em;
    position: static;
  }

  /*CONTENT-------------*/

  /*COLUMNS-------------*/

.row {
   /*border: 1px solid red;*/
   overflow: auto;
}

.gallery {
   /*border: 3px solid cyan;*/
   overflow: auto;
   width:100%; /*Adjust to get images inside sm or bigger*/
   margin: auto;
}

  .column-2 {
     /*border: 1px solid blue;*/
    width: 33.3333333333%;
    /*width: 16.666%;*/
    padding: 2px;
  }

  /*prevent imgs from overflowing out of container div*/
  .column-2 img {
    width: 100%;
    border-radius: 3px;
    display: block;
  }

  .footer-wrapper, .push {
    height: 75px;
  }


}


/*end of tablets*/


/*or try breakpoint at 1141px */


/*DESKTOP*/

@media only screen and (min-width: 1140px) {
  header, nav, .row {
    max-width: 900px;
    margin: 0 auto;
  }
  .nav-wrapper a {
    transition: background .3s linear;
  }
  .nav-wrapper a:hover {
    background-color: #42A5F5;
  }
  .footer-wrapper {
      /*position: absolute;*/
      /*bottom: 0;*/
      /*width: 100%;*/
      height: 100px;
  }

}




/* ----- OTHER STUFF ----*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
